.Display {
  position: fixed;
  bottom: 0;
  padding: 20px;
  width: 100%;
  background: rgba(#000, .9);

  &-name {
    display: inline-block;
    width: 14.285714286%;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-role {
    display: inline-block;
    width: 14.285714286%;
    font-size: 24px;
    font-weight: 300;
  }

  &-winPercent {
    display: inline-block;
    width: 14.285714286%;
    font-size: 24px;
    font-weight: 300;
  }

  &-winPercentLabel {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
