.Display {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 300px;
  background: rgba(#000, .9);

  &-name {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &-role {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
  }

  &-winPercent {
    margin: 0 0 10px;
    font-size: 24px;
    font-weight: 300;
  }

  &-winPercentLabel {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
  }
}
