.Heroes {
  padding: 0;
  margin: 0 -10px 300px;
  list-style: none;
}

.Hero {
  display: inline-block;
  height: auto;
  width: 20%;
  padding: 0 10px 20px;
  cursor: pointer;

  &:hover{
    .Hero-image {
      border-color: #d986ff;
    }

    .Hero-image {
      color: #d986ff;
    }
  }

  &-link {
    color: #fff;
    text-decoration: none;
  }

  &-image {
    border: 1px solid #6d67d6;
    display: inline-block;
    margin: 0 0 10px;
    max-width: 100%;
    height: auto;
  }

  &-name {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }

  &:nth-of-type(4n+1) {
    clear: both;
  }
}
