.TalentTier {
  position: relative;
  padding: 0;
  list-style: none;

  &-title {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
  }
}

.Talent {
  position: relative;

  &--optimal {
    color: #00d8ff;
    animation: glow 2s linear infinite;
  }

  &-label {
    position: absolute;
    top: -1px;
    left: 0;
    width: 25px;
    padding: 1px;
    border-radius: 2px;
    border: 1px solid #555;
    color: #00d8ff;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
  }

  &-name {
    margin-left: 32px;
  }
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px rgba(#00d8ff, 0);
  }
  50% {
    text-shadow: 0 0 5px rgba(#00d8ff, .75);
  }

}
