.TalentTiers {
  display: flex;
}

.TalentTier {
  display: inline-block;
  flex: 1 auto;
  list-style: none;
  padding: 0;

  &-title {
    font-weight: bold;
  }
}

.Talent {
  &--optimal {
    color: #00d8ff;
    animation: glow 2s linear infinite;
  }
}

@keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px rgba(#00d8ff, 0);
  }
  50% {
    text-shadow: 0 0 5px rgba(#00d8ff, .75);
  }

}
